@{
    ViewData["Title"] = "Главная страница";
}

<div class="jumbotron">
    <h1>BLibrary</h1>
    <p class="lead">«BLibrary» - это крупнейшая бесплатная электронная библиотека рунета.
        Здесь вы можете найти любые книги на любой вкус.
        Если вы не знаете как хорошо и спокойно провести свой день, то вы всегда можете сделать это на blibrary — библиотеке, где вы можете скачать книги бесплатно.
</div>